.paginate {
    display: flex;
    
    gap: 10px;
    justify-content: center;
    padding: 20px;
  }
  
  .paginate_link {
    padding: 10px 15px;
    border: 1px solid #ccc;
    color: #000;
    cursor: pointer;
  }
  
  .paginate_active {
    background-color: #1b426b;
    color: #fff;
    border-radius: 5px;
  }
  
  .paginate_prev, .paginate_next {
    font-weight: bold;
  }
  