.nav {
    margin: 0 auto;
    width: 100%;
    padding: 20px 3px;
    z-index: 9999;
    position: sticky;
    top: 0;
    background-color: rgb(235, 233, 233);
    border-radius: 0px 0px 23px 23px;

    &_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }



    &_basket-btn,
    &_like-btn {
        cursor: pointer;
        font-size: 20px;
        background: none;
        color: rgb(105, 107, 107);
        border: none;
    }


    &_logo-title {
        color: rgb(105, 107, 107);
        font-size: 20px;
        font-weight: 900;
    }

    &_basket {
        display: flex;
        gap: 15px;
        flex: 1;

    }

    &_logo {
        flex: 1;
        text-align: center;
    }

    &_search {
        flex: 1;
        display: flex;
        justify-content: end;
    }
    &_badge{
        position: absolute;
        font-size: 12px;
    }
    .from_input {

        width: 100%;
        padding: 4.8px 10px;
        border: none;
        outline: none;
        background-color: #adadad;
        border-radius: 5px 0px 0px 5px;
        color: #fff;
    
        &::placeholder {
            color: #fff;
        }
    }
}

.from_search {
    border-radius: 0px 5px 5px 0px;
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: #adadad;
    padding: 3px 3px 1px 0px;
    max-height: 26px;
}



